<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, use_two_digit_numbers: true,
                                   prompt: true,
                                   start_year: Date.today.year - 100,
                                   end_year: Date.today.year - 5,
                                   class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :height %><br>
    <%= f.number_field :height, class: 'form-control' %>
    <p class="help-block">Height in inches.</p>
  </div>

  <div class="field form-group">
    <%= f.label :weight %><br>
    <%= f.number_field :weight, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <small>Please select your preferred time zone.</small>
    <%= f.time_zone_select :time_zone,
                           nil,
                           default: @user.time_zone,
                           class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
