<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Show', @user %></li>
  <li><%= link_to 'Edit', edit_user_path(@user) %></li>
</ul>

<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Birth date:</strong> <%= @user.pretty_birth_date %></p>
<p><strong>Height:</strong> <%= @user.pretty_height %></p>
<p><strong>Weight:</strong> <%= @user.pretty_weight %></p>

<p><strong>Time zone:</strong> <%= @user.time_zone %><br>
  <% if @user.time_zone == "UTC" && current_user == @user %>
    <small>
      Please edit your profile and select a preferred time zone so that you see
      and select the correct times for your runs.
    </small>
  <% end %>
</p>

<%= link_to 'Back', users_path, class: "btn btn-default" %>
