<%= form_for([@run.user, @run]) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :occurred_at %><br>
    <%= f.datetime_select :occurred_at, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :distance %><br>
    <%= f.text_field :distance, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :time %><br>
    <%= f.text_field :time, class: 'form-control' %>
    <p class="help-block">Format: HH:MM:SS</p>
  </div>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
