<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Show', [@run.user, @run] %></li>
  <li><%= link_to 'Edit', edit_user_run_path(@run.user, @run) %></li>
</ul>

<p>
  <strong>Occurred at:</strong>
  <%= @run.occurred_at.strftime("%b %d, %Y %H:%M") %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance.round(2) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= seconds = @run.duration % 60
      minutes = (@run.duration / 60) % 60
      hours = @run.duration / (60 * 60)
      format("%02d:%02d:%02d", hours, minutes, seconds) %>
</p>

<%= link_to 'Back', user_runs_path(@run.user), class: "btn btn-default" %>
