<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Show', [@run.user, @run] %></li>
  <li><%= link_to 'Edit', edit_user_run_path(@run.user, @run) %></li>
</ul>

<p>
  <strong>Occurred at:</strong>
  <%= @run.occurred_at %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @run.time %>
</p>

<%= link_to 'Back', user_runs_path(@run.user), class: "btn btn-default" %>
