<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Show', [@run.user, @run] %></li>
  <li><%= link_to 'Edit', edit_user_run_path(@run.user, @run) %></li>
</ul>

<br>

<% if @run.user.time_zone == "UTC" %>
  <small>Please make sure to set your preferred time zone.</small>
<% end %>
<p>
  <strong>Occurred at:</strong>
  <%= @run.occurred_at.strftime("%b %d, %Y %l:%M %P") %>
  <%= @run.user.time_zone %>
</p>

<p>
  <strong>Distance:</strong>
  <%= "#{@run.distance.round(2)} miles" %>
</p>

<p>
  <strong>Duration:</strong>
  <%= total_duration(@run) %>
</p>

<p>
  <strong>Pace:</strong>
  <%= pace(duration: @run.duration, distance: @run.distance) %>
</p>

<p>
  <strong>Type of Workout:</strong>
  <%= @run.type_of_workout %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @run.environment %>
</p>

<% if @run.environment == "Outside" %>
  <p>
    <strong>Surface:</strong>
    <%= @run.surface %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= @run.temperature %>
  </p>
<% end %>

<p>
  <strong>How it Went:</strong>
  <%= @run.how_it_went %>
</p>

<p>
  <strong>Last Meal:</strong>
  <%= @run.last_meal %>
</p>

<p>
  <strong>Time of Last Meal:</strong>
  <% unless @run.time_of_last_meal.nil? %>
    <%= @run.time_of_last_meal.strftime("%b %d, %Y %l:%M %P") %>
    <%= @run.user.time_zone %>
  <% end %>
</p>

<br>

<%= link_to 'Back', user_runs_path(@run.user), class: "btn btn-default" %>
